* {
    margin: 0;
    padding: 0;
}
footer {
    height: 150px;
    background-color: #F59CA9;
    text-align: center;
}



@media only screen and (max-width: 768px) {
   h4 {
    text-align: center;
   }
   .main-title, .title-contact, .bio-title, .text-accueil, .teachers-title  {
    text-align: center;
   }

   .photo-prof1, .photo-prof2, .photo-prof3 {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: block; 
    margin: auto; 
}
.text-prof {
    width: 500px;
    text-align: justify;
    padding: 10px;
}
 table {
    
    background-color: rgb(246,130,140,0.3);
    margin: auto;
   
 }
 .subtitle-cours {
    text-align: center;
 }
 th, td {
    padding: 5px;
 }
 .img-actu {
    display: none;
 }
 .news {
    text-align: center;
 }
 li {
    list-style-type: none;
    margin-left: 50px;
 }
 .box-address {
    text-align: center;
 }
 .box-iframe {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
 }
 iframe {
    height: 200px;
    width: 200px;
 }
 .bottom-contact {
    text-align: center;
    margin-bottom: 50px;
 }
}

@media only screen and (min-width: 768px) {
    
    .main-title {
        text-align: center;
    }
    .text-accueil, .bio-title, .teachers-title, .teacher-name {
        text-align: center;
    }
    .top-box {
        margin-right: 100px;
    }
    .photo-prof1, .photo-prof2, .photo-prof3 {
        height: 150px;
        width: 150px;
        border-radius: 50%;    
    }
    .top-box, .center-box, .bottom-box {
        display: flex;
        margin: 30px 400px;
    }
    .text-prof {
        width: 500px;
        text-align: justify;
        padding: 10px;
    }
    .title-cours {
        margin-top: 70px;
      }
      .title-cours, .subtitle-cours {
          text-align: center;
          margin-bottom: 40px;
      
      }
      
      table {
          margin: auto;
          margin-bottom: 80px;
      }

    table, th, td {
        border: 1px solid black;
    }
    .tab-lessons {
        height: 200px;
        width: 350px;
    }
    .tab-prices {
        height: 200px;
        width: 350px;
    }
    td {
        text-align: center;
    }
    .table-head {
        height: 35px;
        background-color: rgb(249, 220, 225);
        text-align: center;
    }
}
